* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "K2D", sans-serif;
    font-weight: 600;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.cart-icon {
    margin-left: 20px;
}

.cart-icon a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.cart-icon a:hover {
    color: #eee;
}