* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "K2D", sans-serif;
    font-weight: 600;
<<<<<<< HEAD
    --black: #000;
    --white: #fff;

=======
>>>>>>> 0cbaa557bb3ec1166d868695bf817306e3fe8c88
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}