* {
    margin: 0;
    padding: 0;
}


.breadcrumb {
    margin: 24px 192px;
}

.breadcrumb_item {
    display: flex;
    list-style: none;
}

.breadcrumb_name {
    color: #be7352;
}

.breadcrumb_icon {
    font-size: 10px;
    color: #be7352;
}

.current_item--name {
    text-transform: uppercase;
}

.post {
    margin: 0 8px;
}





.container {
    margin: 0 192px;
}





.product_details {
    display: flex;
}

.product_img {
    flex: 2;
    width: 100%;
    min-height: 400px;
}

.product_img img {
    width: 90%;
    height: auto;
}

.product_info {
    margin: 28px 14px;
    min-height: 400px;
    flex: 3;
}

.product_info--name {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;

}

.product_info--cost {
    color: #f58b74;
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
}

.btn_product_info {
    width: 148px;
    height: 52px;
    background-color: #f58b74;
    border: none;
    margin: 16px 0;
    cursor: pointer;
}

.btn_product_info a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    padding: 15px 30px;
}







.product_element {
    margin: 64px 0;
}

.element_list {
    text-align: center;
}

.profile_product {}

.profile_name {
    font-size: 26px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: #555555;
    position: relative;
}

.profile_name::before {
    position: absolute;
    content: ' ';
    width: 50%;
    height: 5px;
    background-color: #be7352;
    bottom: 5px;
    top: 120%;
    left: 25%;
}

.profile_content {
    font-size: 22px;
    margin: 16px 0;
}


.sidebar_list {
    margin: 64px 0;
}

.name_product_list {
    font-size: 32px;
    font-weight: bold;
    margin: 24px 0;
    text-transform: uppercase;
}

.card_list_product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card_item {
    text-align: left;
}

.card_item img {
    width: 100%;
    height: 60%;
}

.card_item--name {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}

.card_item--cost {
    font-size: 20px;
    color: #be7352;

}