.product {
    margin-top: 0 !important;
}

.wrapper {
    padding: 60px 0;
}

.content {
    display: grid;
    grid-template-columns: 20% 80%;
}

.product_sidebar {
    position: sticky;
    border-right: 1px #be7352 solid;
    z-index: 2;
    top: 120px;
    padding: 10px;
    background-color: #fff;
    height: max-content;

}



.sidebar_list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 90%;
}



.item_name {
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 100;
    display: block;
    padding: 10px;
}

.product_menu {

    padding-left: 23px;
}



.product_item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}


.product_title {
    margin-bottom: 30px;
}

.title_product {
    text-transform: uppercase;
    color: #222222;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
}

/* card */
.product_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product_card img {
    width: 100%;
    height: 220px;
}

.card_content {
    padding: 25px 0;
}

.card_name {
    text-transform: uppercase;
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    font-weight: 550;
}

.card_box {
    margin-top: 20px;
}

.btn_card {
    background-color: #ddc3af;
    padding: 11px 34px;
    border: none;
    cursor: pointer;
    transition: 0.3s;

}

.btn_card a {
    color: #ffff;
    font-size: 15px;
    text-decoration: none;
}

.btn_card:hover {

    background-color: #be7352;
}
.sidebar_search {
  margin-bottom: 10px;
}

.sidebar_search input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  font-size: 14px;
}
.card_cost {
  display: flex;
  gap: 8px;
  align-items: baseline;
  font-size: 16px;
    color: #be7352;
    margin-bottom: 10px;
}


.original-price {
  text-decoration: line-through;
  color: #999;
  font-size: 14px;
}

.sale-price {
  color: #be7352;
  font-weight: bold;
  font-size: 16px;
}